@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 0em;
  color: #EDFFEC;
  font-family: 'Roboto Mono', monospace;  
  background-color: #3A405A;  
}
.line-1{
    position: relative;
    top: 10%;  
    width: 10em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
.anim-typewriter{
  animation: typewriter 1.8s steps(18) 0.5s 1 normal both,
             blinkTextCursor 700ms steps(25) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.portfolio-name{
    font-family: Roboto;
    font-size: 30px;
    text-align: center;
    color: white;
    position: 0.5rem 0rem 0rem 0rem;
    font-weight: lighter;
}
.portfolio-info{
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
}
.portfolio-email{
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
}
button{
  font-family: Roboto Mono;
  font-size: 14px;
  text-align: center;
  color: #EDFFEC;
  background: transparent;
  border: none;
  padding-top: 2em;
}
.highlight{
    color: #61E786;
}
button:hover{
    color: #61E786;
    cursor: pointer;
}

.resume-button{
    border: 2px solid #61E786;
    border-radius: 5px;
    padding: 0.5em 1em;
    background: transparent;
    color: #61E786;
    transition: all 0.3s ease-in-out;
}

.resume-button:hover{
    background: #61E786;
    color: #3A405A;
    cursor: pointer;
}

header-right{
  display: relative; 
  justify-content: right; 
  margin-left: auto; 
  margin-right: 0; 
  width: fit-content;
}
